version: '3'
services:
  jupyterlab:
    container_name: 'jupyterlab'
    build:
      context: ..
      dockerfile: "jupyter-docker/Dockerfile"
    platform: linux/amd64
    user: root
    volumes:
      - ../:/workplace:cached
    ports:
      - "8888:8888"
    working_dir: /workplace/
    environment:
      TZ: Asia/Tokyo
    command: jupyter lab --ip=0.0.0.0 --allow-root --no-browser --NotebookApp.notebook_dir='/workplace' --NotebookApp.token=''
